.menu {
    margin: 0;
    padding: 0;
    text-align: center;  
} 

li{
    text-align: center;
    min-width: 100px;
}

.main-menu > li{
    display: inline-block;
    background-color:  #C9DBF3;
}

.sec-menu {
    display:none;
    position: absolute;
}

.main-menu > li:hover{
    background-color: lightsteelblue;
    box-shadow: 4px 4px 8px 1px rgb(150, 150, 150);
}

.main-menu > li:hover .sec-menu {
    display:block;
    box-shadow: 4px 4px 8px 1px rgb(150, 150, 150);        
    background-color: #C9DBF3;
    list-style-type:none;
}

.sec-menu > li:hover{
    background-color: rgb(255, 254, 208);
}

#cur-page{
    font-weight: bold;
}

.body-content{
    margin-top: 100px;
    text-align: center;
}

.body-content div{
    margin-top: 20px;
}
